* {
    font-size: 12pt;
    font-family: sans-serif;
    text-align: center; 
}

body {
    background-color: lightgrey;
}

a {
    color: grey;
}

p {
    line-height: 1.5;
}

.title {
    font-weight: bold; 
    font-size: 15pt; 
}

.content {
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roll-button {
    background-color: rgb(106, 106, 255);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 150ms;
}

.roll-button:hover {
    opacity: 0.8;
}

.roll-button:active {
    opacity: 0.5;
}

.dice-img {
    margin: 20px 10px;
    width: 64px;
    cursor: pointer;
}
